<div class="btn-group btn-group-justified">
	<a href="#/search" class="btn btn-default"><i class="fa fa-bus"></i> {{txt.home.search}}</a>
	<a href="#/routes" class="btn btn-default"><i class="fa fa-map"></i> {{txt.home.viewroutes}}</a>
</div>
<p>
	<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-search"></i></span>
		<input id="keyword" type="text" class="form-control" placeholder="{{txt.search.detail}}" ng-model="keyword" ng-focus="scrollTo('keyword')" autocomplete="off" jp-input>
	</div>
	<ul class="list-group" ng-show="autocompletes.length > 0 || keyword != ''" style="margin-bottom: 20vh;">
		<a href="javascript:void(0);" class="list-group-item" ng-repeat="autocomplete in autocompletes" ng-click="goStop(autocomplete.id)">
			<strong><i class="fa fa-map-marker" ng-show="autocomplete.busstop==0"></i><i class="fa fa-bus" ng-show="autocomplete.busstop==1"></i> {{autocomplete.name}}</strong><br>
			　<small class="text-uppercase">({{autocomplete.cause}})</small>
		</a>
	</ul>
</p>
<hr>
<div class="panel panel-default" ng-show="loading"><p><center>
	<img src="assets/img/loading.gif"><br>
	{{txt.home.searchingNear}}
</center></p></div>
<div ng-show="!loading"><p>
	<h3>{{txt.home.nearStops}} <a href="#" ng-click="loadData()"><i class="fa fa-refresh"></i></a></h3>
	<div class="list-group">
		<a href="javascript:void(0);" class="list-group-item" ng-repeat="stop in nearStops" ng-click="goStop(stop.id)">
			<p><i class="fa fa-bus"></i> {{stop.name}}<br>　<small>{{stop.distance|distance}}</small></p>
			<div class="content-panel" ng-repeat="route in stop.routes">
				<span style="color:#{{route.color}};"><strong>{{route.name}}</strong></span>
				<span ng-repeat="time in route.timetable" class="{{time.session|timetableTimeClass}}">{{time.estimated_time_readable}}</span>
			</div>
		</a>
	</div>
</p></div>
<style>
.time
{
	margin: 0px 1px;
	padding: 1px 2px;
	border: 1px solid #cccccc;
	border-radius: 5px;
}
	.time-default
	{
		color: #000000;
	}
	.time-estimated
	{
		border: none;
		color: #666666;
	}
</style>