<div class="panel panel-default" ng-show="loading"><p><center>
	<img src="assets/img/loading.gif"><br>
	{{txt.pleaseWait}}
</center></p></div>
<div ng-show="!loading">
	<h3 style="color:#{{route.route_info.color}};"><a href="javascript:void(0);" ng-click="goRoute()">{{route.route_info.name}}</a></h3>
	<table class="table table-hover cursor-pointer" style="border-left: #{{route.route_info.color}} 2px solid;">
		<tbody>
			<tr ng-repeat="sequence in route.path" ng-click="goStop(sequence.stop)">
				<td
					ng-style="($index >= highlightIndex.from && $index <= highlightIndex.to && { 'color': '#'+route.route_info.color }) || {'color': '#ededed'}"
				>
					<i class="fa fa-arrow-down" ng-show="$index>highlightIndex.from&&$index<highlightIndex.to"></i>
					<i class="fa fa-circle" ng-show="$index<=highlightIndex.from||$index>=highlightIndex.to"></i>
				</td>
				<td
					ng-style="($index >= highlightIndex.from && $index <= highlightIndex.to && { 'color': '#000000', 'font-weight': 'bold' }) || {'color': '#ababab'}"
				>{{sequence.name}}</td>
			</tr>
		</tbody>
	</table>
</div>