{{txt.stops.title}}
<p>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input id="keyword" type="text" class="form-control" ng-model="keyword" ng-focus="scrollTo('keyword')" autocomplete="off" jp-input>
    </div>
    <div class="list-group" style="width: 100%;">
        <a class="list-group-item" ng-repeat="stopData in allStops" ng-if="stopData.show" ng-href="stop/{{stopData.id}}">
            <p><strong><i class="fa fa-bus"></i> {{stopData.name}}</strong></p>
            <p>
                <span ng-repeat="routeData in stopData.passing_routes"
                      style="margin: 0px 2px; color: {{'#' + routeData.color}}; border: 1px solid #cccccc; border-radius: 5px;">
                    {{routeData.name}}
                </span>
            </p>
        </a>
    </div>
</p>
<div class="panel panel-default" ng-show="loading"><center>
    <img src="assets/img/loading.gif"><br>
    {{txt.pleaseWait}}
</center></div>