<div class="btn-group btn-group-justified">
	<a href="#/search" class="btn btn-default"><i class="fa fa-search"></i> {{txt.home.search}}</a>
	<a href="#/routes" class="btn btn-default"><i class="fa fa-bus"></i> {{txt.home.viewroutes}}</a>
</div>
<hr>
<div class="panel panel-default" ng-show="loading"><p><center>
	<img src="assets/img/loading.gif"><br>
	{{txt.home.searchingNear}}
</center></p></div>
<div ng-show="!loading"><p>
	<h3>{{txt.home.nearStops}} <a href="#" ng-click="loadData()"><i class="fa fa-refresh"></i></a></h3>
	<div class="list-group">
		<div class="list-group-item" ng-repeat="stop in nearStops">
			<p ng-click="goStop(stop.id)"><i class="fa fa-bus"></i> {{stop.name}}<br>　<small>{{stop.distance|distance}}</small></p>
			<div class="content-panel" ng-repeat="route in stop.routes">
				<span style="color:#{{route.color}};text-decoration:underline;" ng-click="goRoute(route.id)">{{route.name}}</span>
				<a ng-repeat="time in route.timetable" ng-click="goSession(time.session)" class="{{time.session|timetableTimeClass}}">{{time.estimated_time_readable}}</a>
			</div>
		</div>
	</div>
</p></div>
<hr>
<div class="well">
	<h3>DEBUG MODE</h3>
	<a href="../status/" class="btn btn-primary">HOME</a>
	<a href="../status/explorer.php" class="btn btn-primary">EXPLORER</a>
</div>
<style>
.time
{
	margin: 0px 1px;
	padding: 1px 2px;
	border: 1px solid #cccccc;
	border-radius: 5px;
}
	.time-default
	{
		color: #000000;
	}
	.time-estimated
	{
		border: none;
		color: #666666;
	}
</style>