body
{
	font-family: Leelawadee, Tahoma, Helvetica;
	padding-top: 70px;
}

input[type='text'], input[type='number'], textarea
{
  font-size: 16px;
}

div.path
{
	border-left: 2px solid;
	padding-left: 5px;
}

.navbar
{
	background-color: #660066;
	color: #ffffff;
}
	.navbar a
	{
		color: #ffffff;
	}

#main
{
	padding: 0px 10px;
}