body
{
	font-family: Leelawadee, Tahoma, Helvetica;
	padding-top: 70px;
}

input[type='text'], input[type='number'], input[type='email'], input[type='password'], textarea
{
	font-size: 16px;
}

div.bordered
{
	border-left: #ededed solid 1px;
	border-right: #ededed solid 1px;
}

.navbar
{
}
	.navbar-fixed-top
	{
		background-color: #660066;
		color: #ffffff;
	}
		.navbar-fixed-top a
		{
			color: #ffffff;
		}
	.navbar-fixed-bottom
	{
		background-color: #ededed;
		box-shadow: 0px 0px 1em #000000;
	}
	.close-button
	{
		position: absolute;
		font-size: 1.5em;
		color: #000000;
		right: 10px;
	}

.slide-toggle
{
    transition: all ease-in-out 1s;
}

.ng-hide
{
    bottom: -100%;
}

.cursor-pointer
{
	cursor: pointer;
}

#main
{
	padding: 0px 10px;
}